h1:hover{
  color:blue;
}
a:visited{
  text-decoration: none;
}

header{
  text-align: center;
  width: 70%;
  margin:auto;
  list-style: none;
  
}
article{
width:65%;
margin: auto;
}

p::first-letter{
font-size: 5.5em;
}
footer{
  border: 2px solid black ;
  border-radius:5px; 
}